.features{
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
}

.destinationTitle{
    margin-bottom: 16px;
}
.destinationTitle h1{
    font-size: 1.5em;
}
.destinationTitle p{
    font-size: 1em;
    color: gray;
    margin-top: 4px;
}

.destination{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.featuredGrid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 3 / span 3;
}

.featuredItem{
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
}

.featuredImg{
    position: relative;
    padding-top: 50%;
}
.featuredImg img{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.featuredTitle{
    background: linear-gradient(180deg, rgba(0, 27, 65, .65) 0, rgba(0, 27, 65, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 24px 16px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #1a1a1a; 
}