.header{
    background: var(--color);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.headerContainer{
    width: 100%;
    max-width: 1110px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerContainer.listMode .headerList{
    margin-bottom: 20px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItems{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.headerListItems.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle{
    font-size: 46px;
}

.headerDesc{
    font-size: 24px;
    margin-block: 5px 12px;
}

.headerBtn{
    background: var(--color2);
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}


